$m4_orange: #FE4D02;
$m4_navy: #023A59;
$m4_grey: #474646;
$m4_midgrey: #565656;
$m4_lightgrey: #969696;
$m4_blue: #0093FF;
$m4_green: #397850;
$m4_blackgradient: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 71%);
$m4_bluegradient: linear-gradient(180deg, $m4_blue 0%, rgba(178, 215, 239, 0) 100%);
