/*
  This mixin can be used to set the object-fit:
  @include object-fit(contain);

  or object-fit and object-position:
  @include object-fit(cover, top);
*/
@mixin object-fit($fit: fill, $position: null){
  -o-object-fit: $fit;
     object-fit: $fit;
  @if $position {
	  -o-object-position: $position;
	     object-position: $position;
  	font-family: 'object-fit: #{$fit}; object-position: #{$position}';
  } @else {
  	font-family: 'object-fit: #{$fit}';
  }
}


@mixin ie-and-edge {
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     /* IE10+ CSS styles go here */
      @content;
  }
  @supports (-ms-ime-align:auto) {
		/* Edge 12+ styles go here */
       @content;
  }
}
@mixin ie-only {
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     /* IE10+ CSS styles go here */
      @content;
  }
}
@mixin edge-only {
	@supports (-ms-ime-align:auto) {
		/* Edge 12+ styles go here */
       @content;
  }
}
